<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500i,600,600i,700,700i,900 " rel="stylesheet ">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainStyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Terms</title>
</head>
<body>
<header th:replace="layout/default :: header">
</header>
<section th:replace="layout/default :: section">

</section>

<section >
    <div id="main" class="container terms-container">

        <div class="row ">
            <div class="col-md-12">
                <div class="title-section">
                    <h1>Terms</h1>
                </div>
            </div>
        </div>
        <div class="terms-container-margin">
            <div class=" product-section-details">
                <h6><b>1. Section one</b></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec velit in mi interdum posuere pellentesque a orci. Aenean posuere justo purus, id pretium dolor suscipit ut. Pellentesque habitant morbi tristique senectus et netus
                    et malesuada fames ac turpis egestas. Aenean ornare arcu sapien, vitae iaculis ligula ornare non. Aliquam a luctus tortor, id sodales nisl. Sed sed lobortis tortor, tincidunt gravida arcu. Phasellus id efficitur nisl, quis lobortis
                    purus. In dignissim, elit vitae finibus faucibus, lectus dui lobortis nisl, a interdum arcu leo sit amet nunc. Curabitur sed pulvinar odio, ac suscipit justo. Integer mattis arcu eget dictum luctus. Maecenas faucibus eget erat
                    commodo pulvinar. Cras tristique lacus lacus, quis egestas velit dictum nec. Etiam lorem turpis, convallis id rhoncus ac, vestibulum at ante. Sed auctor, erat sed condimentum blandit, ligula mauris faucibus odio, non egestas leo
                    mi placerat ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis elit turpis, id varius tortor vulputate ut. Maecenas sodales, metus vitae mollis condimentum, dolor odio tristique
                    magna, non sagittis purus ante non lacus. Donec scelerisque libero eget ex pharetra venenatis. Duis ligula orci, pulvinar tristique nisi nec, convallis posuere eros. Sed nulla arcu, pharetra vitae mollis ac, pharetra ut ipsum.</p>

                <h6><b>2. Section two</b></h6>
                <p>Aliquam velit dolor, efficitur eget scelerisque at, scelerisque nec turpis. Nulla vitae ex justo. Sed et erat metus. Integer nec felis sapien. Quisque placerat quam mauris. Aenean malesuada ipsum et risus faucibus imperdiet. Ut congue
                    pharetra suscipit. Quisque bibendum orci vitae sapien sagittis, et dignissim purus scelerisque. Pellentesque eget nisl justo. Aliquam erat volutpat. Aenean non luctus purus, sit amet laoreet mauris. Suspendisse eu venenatis dolor.
                    Etiam id fermentum dui. Donec et ante diam. Nulla facilisi. Pellentesque bibendum viverra eros ut placerat. Suspendisse interdum elementum orci sed elementum. Nulla a magna massa. Pellentesque tincidunt massa ac ligula viverra,
                    sit amet aliquam augue ornare. Donec ut posuere dolor, eget feugiat quam. Pellentesque fermentum, nulla quis posuere elementum, magna metus convallis lectus, sed aliquam justo dui sed tellus. Aenean pellentesque, tellus vitae scelerisque
                    blandit, libero enim interdum orci, ac tempor est massa sed lectus. Fusce sapien eros, cursus eu faucibus et, maximus ut nisi. Ut dictum ex vitae accumsan sodales. Praesent sagittis justo vitae sem tincidunt, id tristique lacus
                    suscipit. Nullam leo magna, finibus id elit a, imperdiet vulputate nibh. Phasellus pretium risus sit amet enim tincidunt suscipit eu eget tortor. Aliquam hendrerit ullamcorper blandit. Sed pellentesque ex augue, euismod commodo
                    purus facilisis nec.</p>

                <h6><b>3. Section three</b></h6>
                <p>Vestibulum sit amet lacus aliquet, pretium nibh ac, tempus odio. Nulla sagittis, dolor nec aliquet commodo, felis dui feugiat elit, eu tristique urna eros posuere mi. Quisque ac pretium arcu, eget congue mauris. Nulla ullamcorper metus
                    consectetur nunc faucibus, sed bibendum ligula ultrices. Quisque at diam quis ipsum accumsan volutpat non non purus. Nam purus justo, dapibus facilisis cursus id, tincidunt id ligula. Aliquam vestibulum sagittis nibh, pulvinar
                    efficitur massa gravida id. Suspendisse accumsan leo id tortor molestie mollis. Phasellus porttitor mattis dolor ac consequat. Mauris ultricies mi ligula, eu malesuada magna facilisis non. Quisque sit amet lacus malesuada, ultrices
                    libero dignissim, interdum quam. Integer metus nulla, molestie non dui non, gravida euismod enim. Proin vestibulum pulvinar ornare. Integer luctus mattis posuere. Pellentesque quis volutpat augue. Cras nec sem in enim ultricies
                    tempus. Phasellus consectetur finibus lacus non luctus. Mauris vel risus ut lectus faucibus faucibus quis quis massa. Integer luctus sed metus eget hendrerit. Phasellus sed lacinia dui, quis vestibulum ante. Etiam dui dui, vestibulum
                    sed neque ut, placerat accumsan lorem. Quisque suscipit egestas dui, rutrum pulvinar massa cursus non. Duis id feugiat enim, a fermentum augue. Nulla semper, lacus vel scelerisque lobortis, neque nisl cursus augue, et pharetra
                    leo orci in purus. Suspendisse potenti. Quisque et viverra massa. Aliquam erat volutpat.</p>

                <h6><b>4. Section four</b></h6>
                <p>Etiam ac malesuada augue. Cras vel sagittis ex. Maecenas at tempor lacus. Curabitur lacinia turpis metus, et mollis sem consectetur vel. Aliquam erat volutpat. Etiam convallis eros velit, eget hendrerit dui malesuada at. Donec nec
                    pellentesque ex, eget pretium magna. Nullam finibus porta purus, a posuere elit porta ut. Nam sit amet nibh orci. Morbi sagittis metus id mi pellentesque aliquam. Maecenas egestas mauris sit amet molestie feugiat. Nullam faucibus
                    commodo fringilla. Suspendisse ac leo est. In hac habitasse platea dictumst. Cras suscipit dui massa. Donec est dolor, fringilla eu neque eu, ultrices dapibus mauris. Ut et pellentesque mauris, id tincidunt felis. Integer laoreet
                    maximus erat sit amet rutrum. Aenean imperdiet orci in ante scelerisque auctor. Aliquam erat ante, dapibus accumsan luctus vel, elementum id neque. Curabitur a justo lacus. Nam elementum quis odio vulputate convallis. Donec molestie
                    dui ac ipsum tristique tincidunt. Proin laoreet at justo a dignissim. Aenean dolor magna, euismod vel venenatis at, lobortis vitae justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Nulla facilisi. Proin scelerisque nibh sed magna viverra suscipit. Mauris efficitur diam vel elementum molestie.</p>

                <h6><b>5. Section five</b></h6>
                <p>Sed cursus ligula elit, eget ornare diam tempor eu. Cras eu congue massa. Aenean semper vitae eros ut convallis. Nulla turpis felis, ultricies eget enim eget, interdum pretium urna. Donec suscipit tincidunt enim, in feugiat mi pretium
                    eu. Donec pellentesque sem quis convallis feugiat. Proin ipsum lorem, venenatis nec faucibus sed, sagittis eget eros. Nunc ut rutrum mauris. Ut vel felis orci. Fusce ultrices ante a quam sollicitudin, id laoreet arcu scelerisque.
                    Donec dolor velit, laoreet sit amet nunc a, maximus condimentum dolor. Proin posuere vitae purus at commodo. Cras pretium sodales velit id aliquet. In ornare neque eu orci lacinia, in finibus purus placerat. Integer id ultricies
                    justo. Fusce gravida dapibus pulvinar. Etiam tempor orci id sapien fringilla, at sagittis sapien sagittis. Cras eu leo eros. Suspendisse potenti. Curabitur accumsan dignissim pretium. Sed maximus, risus ac laoreet fermentum, diam
                    metus condimentum urna, in congue lorem tortor eget turpis. Vestibulum purus nulla, vestibulum vel est quis, bibendum tincidunt elit. Morbi non maximus libero, ac bibendum arcu. Sed vitae lobortis sem. Aenean risus nibh, semper
                    eu ullamcorper eget, eleifend quis metus. Phasellus at volutpat neque.</p>
            </div>
        </div>
    </div>
</section>

<footer th:replace="layout/default :: footer">

</footer>


<section th:replace="layout/default :: script">

</section>

</body>
</html>